*, *::before, *::after {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: rgb(241, 244, 248);
  background: linear-gradient(
    90deg,
    rgba(241, 244, 248, 1) 0%,
    rgb(224, 250, 251) 88%
  );
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.nav-list {
  display: flex;
  justify-content: center;
  width: 734px;
  height: 55px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list a {
  display: inline-block;
  font-size: 1.1em;
  color: black;
  text-align: center;
  height: 55px;
  width: 150px;
  padding: 15px 15px;
  text-decoration: none;
  list-style: none;
}

.nav-list a:hover {
  text-decoration: none;
  font-weight: bold;
  background-color: rgba(62, 145, 228, 0.704);
}

.main-image {
  display: block;
  margin: 32px auto;
  border: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.tim {
  display: flex;
  justify-content: space-between;
}

.tim > div, .nav-list-2 > li {
  border: 2px dotted black;
  padding: 5px;
}

.nav-list-2 {
  display: flex;
  gap: 2rem;
  list-style: none;
}

