* {
  font-family: Helvetica, sans-serif;
}

body {
  background: rgb(241, 244, 248);
  background: linear-gradient(
    90deg,
    rgba(241, 244, 248, 1) 0%,
    rgb(224, 250, 251) 88%
  );
}

h1 {
  font-size: 3rem;
  text-align: center;
}

nav {
    background-color: rgba(241, 237, 237, 0.704);
    width: 734px;
    margin-left: auto;
    margin-right: auto;
}

.recipes {
  display: flex;
  justify-content: center;
}

.recipes a {
  display: inline-block;
  font-size: 1.1em;
  color: black;
  text-align: center;
  height: 25px;
  width: 100px;
  padding: 12px 15px;
  
}

.recipes a:link {
  text-decoration: none;
}

.recipes a:hover {
  text-decoration: none;
  font-weight: bold;
  background-color: rgba(62, 145, 228, 0.704);
}

.main-image {
  display: block;
  margin: 32px auto;
  border: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
